* { 
  box-sizing: border-box;
 }

body {
  background-color: #f3ad78; /*light orange*/
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.6;
}

/*----- Styling of Pokedex Image -----*/

.pokedex-image {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*----- Styling of Main Text -----*/

.description1 {
    text-align: center;
}

.description2 {
    margin: 0 auto;
    margin-bottom: 50px;
}

/*-----Styling of Button-----*/
.button-class {
  background-color: #003a70; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* For Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #003a70;
  color: white;
  border: 2px solid #ffcc00;
}